.searchInput{
    width:85%;
    font-size:xx-large;
}

.searchButton{
    width:15%;
    font-size:xx-large;
}

.films {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.film {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
  }

  .error, .nofilm{
    color: red;
    font-size:xx-large;
  }
